extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ./create-customer.pug
include ./edit-customer.pug

block main
  +alert-success(4000)
  +alert-error(4000)
  section
    .container.row
      .container-decs.col-4
        .text Quản lý danh sách khách thuê
        .text-sub Tất cả danh sách khách thuê trong nhà trọ của bạn
      .search.col-5
        form(action=`${prefixAdmin}/manage-customers` method="GET")
            input(
              type="text"
              id="find" 
              name="keyword" 
              placeholder="Tìm kiếm tên khách thuê" 
              value=`${typeof keyword !== 'undefined' ? keyword : ''}`
            )
      .btn-add.col
        a.add-room.col(type="button" data-bs-toggle="modal" data-bs-target="#modalCreate")
          i.fa-solid.fa-plus
    .table-rooms.table-responsive
      table.table.table-bordered
        thead.table-secondary
          tr
            th cccd
            th Tên khách hàng
            th Số điện thoại
            th Giới tính
            th Ngày sinh
            th Quê quán
            th Phòng ở
            th Xóa | Sửa
        tbody.table-success
          each item in customers
            tr
              td #{item.cccd}
              td #{item.tenkh}
              td #{item.sdtkhach}
              td #{item.gioitinh}
              td #{item.ngaysinh}
              td #{item.quequan}
              td #{item.maphong}
              td 
                .btn-action
                  button.btn.btn-danger.btn-delete(
                    type="button" 
                    data-id=item.cccd
                    button-delete
                    ) Xóa
                  a.btn.btn-warning.btn-edit(
                    type="button" 
                    data-bs-toggle="modal" 
                    data-bs-target="#modalEdit" 
                    data-cccd=item.cccd
                    data-name=item.tenkh
                    data-phoneNumber=item.sdtkhach
                    data-gender=item.gioitinh
                    data-ngaysinh=item.ngaysinh
                    data-quequan=item.quequan
                    data-room-id=item.maphong
                    ) Sửa
  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`${prefixAdmin}/manage-customers/delete`
    )
  +createcustomer(prefixAdmin)
  +editcustomer(prefixAdmin)
  script(src="/js/script.js")
  script(src="/js/admin/customers.js")
