mixin createBill(prefixAdmin)
  .modal.fade#modalCreate(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-scrollable
      .modal-content
        .modal-header
          h5.modal-title#modalCreateLabel Thêm Hóa đơn
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          form(
            action=`${prefixAdmin}/manage-bills`
            id="form-create-product"
            method="POST"
          )
            label(for="name-room") Mã phòng
              b(style="color: red;") *
            input#name-room(
              type="text" 
              name="maphong" 
              placeholder="Tên phòng" 
              required)

            label(for="area") CCCD
              b(style="color: red;") *
            input#area(
              type="text" 
              name="cccd" 
              placeholder="Căn cước công dân (12 số)" 
              required)

            .modal-footer
              div(class="form-group")
                button( 
                    type="submit"    
                    class="btn btn-primary"
                    ) Tạo mới
  