extends ../../layouts/default.pug
include ./create-bill.pug
include ./add-detail.pug
include ../../mixins/alert.pug
block main
  +alert-success(4000)
  +alert-error(4000)
  div.navbar
      button &larr; Năm trước
      .year-label
          div T.1
          div 2024
      .year-label
          div T.2
          div 2024
      .year-label
          div T.3
          div 2024
      .year-label
          div T.4
          div 2024
      .year-label.active
          div T.5
          div 2024
      .year-label
          div T.6
          div 2024
      .year-label
          div T.7
          div 2024
      .year-label
          div T.8
          div 2024
      .year-label
          div T.9
          div 2024
      .year-label
          div T.10
          div 2024
      .year-label
          div T.11
          div 2024
      .year-label
          div T.12
          div 2024
      button Năm tới &rarr;
  section
    
    .container.row
      .container-decs.col-4
        .text Quản lý danh sách hóa đơn
        .text-sub Bạn sẽ thấy các hóa đơn hàng tháng được lập 
      .search.col-5
        form(action=`${prefixAdmin}/manage-bills` method="GET")
            input(
              type="text"
              id="find" 
              name="keyword" 
              placeholder="Tìm kiếm tên phòng có hóa đơn" 
              value=`${typeof keyword !== 'undefined' ? keyword : ''}`
            )
      .btn-add.col
        a.add-room.col(type="button" data-bs-toggle="modal" data-bs-target="#modalCreate")
          i.fa-solid.fa-plus

    .table-rooms.table-responsive
      table.table.table-bordered
        thead.table-secondary
          tr
            th Ngày tạo
            th Tổng tiền
            th Trạng thái thanh toán
            th Phòng
            th cccd
            th Xóa | Sửa
        tbody.table-success
          each item in bills
            tr
              td #{item.ngaytao}
              td #{item.tongtien}
              td #{item.trangthai_thanhtoan}
              td #{item.maphong}
              td #{item.cccd}
              td 
                .btn-action
                  a.btn.btn-secondary.btn-add-detail(
                    type="button"
                    button-detail
                    data-id=item.mahoadon
                    data-bs-toggle="modal" 
                    data-bs-target="#modalDetail"
                    ) Tiêu dùng
                  button.btn.btn-danger.btn-delete(
                    type="button" 
                    data-id=item.mahoadon
                    button-delete
                    ) Xóa
                  a.btn.btn-warning.btn-edit(
                    type="button" 
                    button-edit
                    data-bill-id=item.mahoadon
                    data-date=item.ngaytao
                    data-money=item.tongtien
                    data-status=item.trangthai_thanhtoan
                    data-cccd=item.cccd
                    ) Thay đổi trạng thái
  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`${prefixAdmin}/manage-bills/delete`
    )
  form(
    action=""
    method="POST"
    id="form-edit-item"
    data-path=`${prefixAdmin}/manage-bills/edit`
    )
  +createBill(prefixAdmin)
  +detailBill(prefixAdmin, tieudung)
  script(src="/js/admin/bills.js")
  script(src="/js/script.js")