extends ../../layouts/default.pug
include ./create-bill.pug

block main

  div.navbar
      button &larr; Năm trước
      .year-label
          div T.1
          div 2024
      .year-label
          div T.2
          div 2024
      .year-label
          div T.3
          div 2024
      .year-label
          div T.4
          div 2024
      .year-label.active
          div T.5
          div 2024
      .year-label
          div T.6
          div 2024
      .year-label
          div T.7
          div 2024
      .year-label
          div T.8
          div 2024
      .year-label
          div T.9
          div 2024
      .year-label
          div T.10
          div 2024
      .year-label
          div T.11
          div 2024
      .year-label
          div T.12
          div 2024
      button Năm tới &rarr;
  section
    .container.row
      .container-decs.col-4
        .text Quản lý danh sách hóa đơn
        .text-sub Bạn sẽ thấy các hóa đơn hàng tháng được lập 
      .search.col-6
        input(type="text" placeholder="Tìm kiếm hóa đơn")
      .btn-add.col
        a.add-room.col(type="button" data-bs-toggle="modal" data-bs-target="#modalCreate")
          i.fa-solid.fa-plus

    .table-rooms.table-responsive
      table.table.table-bordered
        thead.table-secondary
          tr
            th Ngày tạo
            th Tổng tiền
            th Trạng thái thanh toán
            th Phòng
            th cccd
            th Xóa | Sửa
        tbody.table-success
          each item in bills
            tr
              td #{item.ngaytao}
              td #{item.tongtien}
              td #{item.trangthai_thanhtoan}
              td #{item.maphong}
              td #{item.cccd}
              td 
                .btn-action
                  button.btn.btn-danger.btn-delete(
                    type="button" 
                    data-id=item.mahoadon
                    button-delete
                    ) Xóa
                  a.btn.btn-warning.btn-edit(
                    type="button" 
                    data-bs-toggle="modal" 
                    data-bs-target="#modalEdit" 
                    data-bill-id=item.mahoadon
                    data-date=item.ngaytao
                    data-money=item.tongtien
                    data-status=item.trangthai_thanhtoan
                    data-cccd=item.cccd
                    ) Sửa
    +createBill(prefixAdmin)
  script(src="/js/admin/rooms.js")