extends ../../layouts/default.pug

block main
  section
    .container.row
      .container-decs.col-4
        .text Quản lý tài khoản khách thuê
        .text-sub Tất cả tải khoản khách thuê trong nhà trọ
      .search.col-5
        form(action=`${prefixAdmin}/account-customers` method="GET")
            input(
              type="text"
              id="find" 
              name="keyword" 
              placeholder="Tìm kiếm tên đăng nhập" 
              value=`${typeof keyword !== 'undefined' ? keyword : ''}`
            )
    .table-rooms.table-responsive
      table.table.table-bordered
        thead.table-secondary
          tr
            th Tên khách hàng
            th Tên đăng nhập
            th Phòng
       
        tbody.table-success
          each item in accounts
            tr
              td #{item.tenkh}
              td #{item.tendnkh}
              td #{item.maphong}
    
        