extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ./create-room.pug
include ./edit-room.pug

block main
  section
    +alert-success(4000)
    +alert-error(4000)
    .container.row
      .container-decs.col-5
        .text Quản lý danh sách phòng
        .text-sub Tất cả danh sách phòng trong Nhà trọ MK
      .search.col-5
        input(type="text" placeholder="Tìm kiếm phòng")
      .btn-add.col
        a.add-room.col(type="button" data-bs-toggle="modal" data-bs-target="#modalCreate")
          i.fa-solid.fa-plus

    .table-rooms.table-responsive
      table.table.table-bordered
        thead.table-secondary
          tr
            th Tên phòng
            th Diện tích
            th Số lượng người
            th Giá
            th Trạng thái phòng
            th Xóa | Sửa
        tbody.table-success
          each item in rooms
            tr
              td #{item.maphong}
              td #{item.dientich}
              td #{item.soluongnguoi}
              td #{item.gia}
              td #{item.trangthai_phong}
              td 
                .btn-action
                  button.btn.btn-danger.btn-delete(
                    type="button" 
                    data-id=item.maphong
                    button-delete
                    ) Xóa
                  a.btn.btn-warning.btn-edit(
                    type="button" 
                    data-bs-toggle="modal" 
                    data-bs-target="#modalEdit" 
                    data-room-id=item.maphong
                    data-area=item.dientich
                    data-people=item.soluongnguoi
                    data-price=item.gia
                    data-status=item.trangthai_phong
                    ) Sửa 
  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`${prefixAdmin}/manage-rooms/delete`
    )
  +createRoom(prefixAdmin)
  +editRoom(prefixAdmin)
  script(src="/js/admin/rooms.js")
  script(src="/js/script.js")
