mixin editGuest(prefixAdmin)
  .modal.fade#modalEdit(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-scrollable
      .modal-content
        .modal-header
          h5.modal-title#modalEditLabel Sửa phòng
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          form(
            action=`${prefixAdmin}/manage-rooms?_method=PUT`
            id="form-edit-room"
            method="POST"
          )
            //- input(type="hidden" name="_method" value="PUT")
            label(for="name-room-edit") Căn cước công dân
                b(style="color: red;") *
            input#name-room-edit(
                type="text" 
                name="cccd" 
                placeholder="Căn cước công dân (12 số)" 
                readonly)

            label(for="area-edit") Tên khách hàng
                b(style="color: red;") *
            input#area-edit(
                type="text" 
                name="tenkh" 
                placeholder="Tên khách hàng" 
                required)

            label(for="countofp-edit") SĐT khách
                b(style="color: red;") *
            input#countofp-edit(
                type="text" 
                name="soluongnguoi" 
                placeholder="Số lượng người" 
                required)

            label(for="status-edit") Tên đăng nhập khách
                b(style="color: red;") *
            input#status-edit(
                type="text" 
                name="trangthai_phong" 
                placeholder="Trạng thái" 
                readonly)

            label(for="price-edit") Mật khẩu khách 
                b(style="color: red;") *
            input#price-edit(
                type="text" 
                name="gia" 
                placeholder="Giá" 
                required)

            label(for="price-edit") Giới tính
                b(style="color: red;") *
            input#price-edit(
                type="text" 
                name="gia" 
                placeholder="Giá" 
                required)
            label(for="price-edit") Ngày sinh
                b(style="color: red;") *
            input#price-edit(
                type="text" 
                name="gia" 
                placeholder="Giá" 
                required)
            label(for="price-edit") Quê quán
                b(style="color: red;") *
            input#price-edit(
                type="text" 
                name="gia" 
                placeholder="Giá" 
                required)
            label(for="price-edit") Phòng thuê
                b(style="color: red;") *
            input#price-edit(
                type="text" 
                name="gia" 
                placeholder="Giá" 
                required)
            .modal-footer
              div(class="form-group")
                button( 
                    type="submit"    
                    class="btn btn-primary"
                    ) Cập nhật
        
